body {
    background-color: #31363B;
}

textarea {
    width: 94%;
    background-color: #232629;
    color: white;
    border: 0px;
    padding: 1em;
    resize: none;
}

textarea {
    margin-left: 2em;
}

#paste-author {
    float: right;
    padding-right: 3em;
}

/* Make navbar items horizontal even on mobile */
.navbar-item {
  display: flex;
}

.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
}

.navbar-menu{
  flex-grow: 1;
  flex-shrink: 0;
}
.navbar-start{
  justify-content: flex-start;
  margin-right: auto;
}
.navbar-end{
  justify-content: flex-end;
  margin-left: auto;
}
